// 项目提供的scss全局变量
//scss样式变量必须以$开头


// 左侧菜单的宽度
$base-menu-width: 260px;
// 左侧菜单的背景颜色
// $base-menu-background: #04203b;
$base-menu-background: #150029;
// 左侧菜单栏最小宽度
$base-menu-min-width:50px;
// 顶部导航的高度
$base-tabbar-height: 50px;
// 左侧菜单logo高度的设置
$base-menu-logo-height: 50px;
// 左侧菜单logo右侧文字的大小
$base-logo-title-font-size:20px;


